/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 28px;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}


/* OUTLINE-STYLES */
*:focus {
    outline: 2px dashed #f7477f;
    outline-offset: 3px;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE-HEADER */
.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    text-decoration: none;
    margin-right: auto;
    transition: opacity 0.4s ease;
}

.site-header__logo:hover {
    opacity: 0.8;
}

.site-header__logo:active {
    opacity: 0.6;
}

.site-header__logo-img {
    display: block;
    width: 111px;
    height: 27px;
}

.site-header__button {
    display: inline-block;
    padding: 14px 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border-radius: 28px;
    color: #fff;
    background-color: #13183f;
    z-index: 1;
    transition: background-color 0.4s ease,
        opacity 0.4s ease;
}

.site-header__button:hover {
    background-color: #666ca3;
}

.site-header__button:active {
    opacity: 0.6;
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}


/* HERO */
.hero {
    position: relative;
    padding-top: 124px;
    padding-bottom: 124px;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__title {
    width: 457px;
    margin: 0;
    margin-bottom: 29px;
    font-weight: 800;
    font-size: 56px;
    line-height: 70px;
    color: #13183f;
}

.hero__text {
    width: 445px;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869a;
}

.hero__button {
    display: inline-flex;
    padding: 19px 32px 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    border-radius: 31px;
    transition: opacity 0.4s ease;
}

.hero__button:hover {
    opacity: 0.8;
}

.hero__button:active {
    opacity: 0.6;    
}

.hero__img {
    position: absolute;
    top: -104px;
    right: 0;
}

.hero__item {
    padding: 20px 72px 20px 24px;
    z-index: 1;
    background: #fff;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    border-radius: 15px;;
}

.hero__item-course {
    margin-top: 232px;
}

.hero__item-members {
    margin-bottom: 233px;
}

.hero__item-subtitle {
    margin: 0;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #83869a;
}

.hero__item-title {
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #13183f;
}


/* FEATURES */
.features {
    padding-top: 64px;
    padding-bottom: 140px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: -30px;
    list-style: none;
}

.features__item--first {
    width: 350px;
    margin-right: 30px;
}

.features__item--first-title {
    margin: 0;
    padding: 64px 32px 138px;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    border-radius: 15px;
}

.features__item {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 0px 32px 40px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
}

.features__item:nth-child(-n+3) {
    margin-bottom: 80px;
}

.features__img {
    margin-top: -25px;
    margin-bottom: 32px;
    width: 56px;
    height: 56px;
}

.features__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183f;
}

.features__text {
    width: 286px;
    margin: 0;
    margin-bottom: auto;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869a;
}

.features__link {
    margin: 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #f74780;
    transition: color 0.4s ease,
        opacity 0.4s ease;
}

.features__link:hover {
    color: #ffa7c3;
}

.features__link:active {
    opacity: 0.6;
}

.features__link:focus {
    outline: none;
}


/* FOOTER */
.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #13183f;
}

.footer__container {
    display: flex;
    align-items: center;
}

.footer__logo {
    margin-right: auto;
    text-decoration: none;
    transition: opacity 0.4s ease;
}

.footer__logo:hover {
    opacity: 0.8;
}

.foooter__logo:active {
    opacity: 0.6;
}

.footer__logo-img {
    display: block;
    width: 111px;
    height: 27px;
}

.footer__button {
    display: inline-block;
    padding: 14px 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    border-radius: 28px;
    transition: opacity 0.4s ease;
}

.footer__button:hover {
    opacity: 0.8;
}

.footer__button:active {
    opacity: 0.6;    
}