/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 28px;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE-HEADER */
.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    text-decoration: none;
    margin-right: auto;
}

.site-header__logo-img {
    display: block;
    width: 111px;
    height: 27px;
}

.site-header__button {
    display: inline-block;
    padding: 14px 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border-radius: 28px;
    color: #fff;
    background-color: #13183f;
}